body{
	font-size: 12px;
	font-family: Arial;
	line-height: 36px;
	margin: 20px;
}

.block label,
.block input,
.block select{
	display: block;
}

.block input,
.block select {
	border: 1px solid #bbbbbb;
	box-shadow: inset 1px 1px 1px #bbbbbb;
}
.half{
	float: left;
	width: 50%;
}
.half .block{
	float: none;
}

.clearboth{
clear: both;
}
.half .block input, 
.half .block select{
	width: 90%;
	height: 35px;
}
 .data .width10 select,
.data .width20 select {	
	height: 36px;
	float:left;
	display: inline-block;
	margin-right: 5px;
}
.data .width10 select{
	width: 10%;
}
.data .width20 select{
	width:20%;
}
legend{
	font-size: 20px;
	line-height: 48px;
}
label,
input,
select{
	color:#848478;
}
.red{
	color:#CC0000;
}
.margin-possition{
	margin-top: 48px;
	margin-bottom: 48px;
}

.width32 .width-adjust {
	margin-right: 5px;
	width: 32%;
	float: left;
}
.width-adjust input{
	width: 95%;
	height: 35px;
}

 p{
	color: #848478;
	display: inline;
}
.option label{
	width: 95%;
	color:#000000;
	margin-left: 5px;
}
.option input{
	margin-right: 5px;
	vertical-align: middle;
}
table{
	width: 100%
}
table td{
	width: 20%;
	border:1px solid #848478;
	color: #000000;
	text-align: center;
}
table td:first-child{
	text-align: left;
}
table .none-border{
	border: none;
}
.backgroud{
	background-color:#EFEFE7;
}
.tr-height td{
	line-height: 20px;
}
.tr-height td{
	line-height: 24px;
}
td{
	font-size: 12px;
}
.website td input{
	width: 90%;
	height: 80%;
	border: 1px solid #bbbbbb;
	box-shadow: inset 1px 1px 1px #bbbbbb;
}
.button label{
	display: block;
}
.button input{
	color:#000000;
}
textarea{
	width: 300px;
	height: 150px;
	text-align: center;
	line-height: 24px;
}
.agree input{
	margin-right: 5px;

}
.submit{
	padding: 5px;
}
